<!DOCTYPE html>
<html lang="en">
<head>
    <title>CONNECTION LOG</title>
<link rel="icon" type="image/png" href="assets/images/connect.png"/>
<%- include ('../partials/head') %>
</head>
<body>
    <header>
        <%- include ('../partials/header') %> 
    </header>
    <main>
        <div id="divconnect" style="margin-top:46px;">
            <div class="row container-fluid bg-grey table-responsive HA">
                
                    <table class=" table table-striped .table-bordered ">
                    <thead class="thead-dark">
                    <tr>
                        <th>Timestamps</th>
                        <th>Event Type</th>
                        <th>SessionName</th>
                        <th>SessionId</th>
                        <th>ClientIdentity</th>
                        <th>SecurityMode/Policy</th>                   
                    </tr>
                   </thead>
                   <tbody id="lichsuclient">    
                       <% historys.forEach(function(item){ %>
                        <tr>
                            <th><%- item.timestamps %></th>
                            <th><%- item.eventtype %></th>
                            <th><%- item.sessionname %></th>
                            <th><%- item.sessionid %></th>
                            <th><%- item.clientidentity %></th>
                            <th><%- item.security %></th>
                        </tr>  
                        <% }); %>                       
                    </tbody>

                </table>
          
            </div>
        </div> 
    </main>
    <script src="socket.io/socket.io.js"></script>
    <script src="assets/js/renderserver.js"></script>
</body>
</html>